build/
cache/
*.crt
*.db
*.exe
*.exe~
*.key
*.user.json
addto-startup.vbs
goproxy.log
goproxy.log.*.gz
goproxy.sh
goproxy-gtk.desktop
goproxy-gtk.py
goproxy-logo.png
goproxy-macos.command
goproxy-gui.exe
proxy.pac
GoProxy.crt
GoProxy.key
