[Unit]
Description=goproxy-vps

[Service]
Type=simple
PIDFile=/var/run/goproxy-vps.pid
ExecStartPre=/bin/rm -rf /var/log/goproxy-vps.*
ExecStart=/opt/goproxy-vps/goproxy-vps -addr=:443 -v=1 -logtostderr=0 -log_dir=/var/log/
WorkingDirectory=/opt/goproxy-vps
User=root
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
