[Unit]
Description=gopvs cleanlog

[Service]
Type=simple
ExecStart=/bin/find /var/log/ -name "govpvs.*" -mtime +1 -delete
IOSchedulingClass=idle
User=root

[Install]
WantedBy=timers.target
